@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:300,400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

.avatar-bg {
    background-image: url('../assets/img_bg_header.jpg');
    position: relative;
    background-position: 50%;
}

.avatar-bg:before {
    background: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
    position: absolute;
    height: 100%;
    content: "";
    z-index: 0;
    right: 0;
    left: 0;
}

.white {
    color: white;
}

.h-380 {
    height: 380px;
}

@media (min-width: 600px) {
    .top-40 {
        top: 40px;
    }
}

.menu-hover:hover span {
    opacity: 1;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.linked:after {
    border: 2px solid #4c51bf;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    height: 16px;
    content: "";
    width: 16px;
    left: 0;
    top: 0;
}

.linked:before {
    content: "";
    left: 7px;
    width: 2px;
    top: 0;
    bottom: 0;
    background-color: #4c51bf;
    position: absolute;
}
